body{
	background-image: url("../img/BG1.png");
	background-size: 200px;
}
#form{
	height: 100%;
	width: 40%;
	background-color:  #4d4d4d;
	color: white;
	border-radius: 10px;
	font-size: 20px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 1%;
	text-align: center;
}
table{
	margin: 0px auto;
	width: 70%;
	height: 100%;
	text-align: left;
}
#avatar{
	border-radius: 50%;
	background-color: #4d4d4d;
	width: 150px;
	height: 150px;
	margin: 0px auto;
}
.check{
	width: 3px;
	border: 1px solid black;
}
#submitButt{
	visibility: hidden;
}
.centerID{
	text-align: center;
	position: relative;
	top: 45%;
	left: 43%;
	color: white;
}
.secretVal{
	display: none;
}


